{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') or task.user == app.user%}    
        <div class="row">
            {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-success pull-right">Modifier</button>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}
